<%- include('partials/header') %>

<section class="main">
    <div class="logout-icon">
        <a href="/"><i class="fas fa-sign-out-alt"></i></a>
    </div>
    <div class="btns">
        <a class="btn" role="button" href="/addbook">ADD BOOKS</a>
        <a class="btn" role="button" href="/listofbooks">LIST OF BOOKS</a>
    </div>   
</section>

<%- include('partials/footer') %>