<%- include('partials/header') %>

<section class="main">
    <div class="btns">
        <a class="btn" role="button" href="/register">REGISTER NOW</a>
        <a class="btn" role="button" href="/login">LOGIN</a>
    </div>   
</section>

<%- include('partials/footer') %>